@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  background-color: hsl(210, 60%, 98%);
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(211, 60%, 98%);
}
.container {
  width: 500px;
  margin: 2rem;
  height: 850px;
  border-radius: 15px;
  /* border: 1px solid hsl(0, 0%, 100%); */
  background-color: hsl(0, 0%, 100%);
  /* display: flex; */
  /* justify-content: center; */
}
.header {
  display: flex;
  width: 100%;
}
.header-left {
  margin-right: auto;
  padding: 0.5rem 1.5rem;
}
.header-left h1 {
  font-size: 1.2rem;
}
.header-left span {
  background-color: hsl(219, 85%, 26%);
  color: white;
  border: 5px solid hsl(219, 85%, 26%);
  border-radius: 150px;
  /* border-width: 2px; */
}
.header-right {
  margin-left: auto;
  padding: 1.8rem;
}
.card {
  display: flex;
  background-color: hsl(210, 60%, 98%);
  margin: .5rem;
  /* padding: .5rem; */
  height: 60px;
}
.card-image {
  margin: .5rem;
  display: flex;
  align-items: center;
}
.card-image img {
  height: 40px;
}
.card-body {
  margin: auto .2rem;
}